<!DOCTYPE html>
<html lang="en">
<head>
  <title>simpletop</title>

  <!-- Style -->
  <style>{{> style.css }}</style>

  <!-- JavaScript -->
  <script type="text/javascript">{{> application.js }}</script>

  <!-- Imports -->
  {{> imports.html }}
</head>
<body>
  <p>Hello!</p>
</body>
</html>
